html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0%;
  margin: 0%;
}

#main {
  float: left;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: white;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 220%;
  text-align: center;
  padding-right: 190px;
}

#sidebar {
  position: fixed;
  right: 0;
  background-color: #404040;
  width: 190px;
  color: white;
  height: 100%;
  overflow: auto;
}

#border {
  width: 100%;
  height: 0%;
  padding-bottom: 100%;
  background-color: magenta;
}

#border img {
  width: 95%;
  margin: 2.5%;
  height: auto;
}

#nav {
  position: relative;
  display: inline-block;
}

#navbutton {
  text-align: center;
  width: 100%;
  height: auto;
}

#navbutton img {
  margin-top: 2.5%;
  width: 12.5%;
  height: auto;
}

#navbutton:hover {
  background-color: #808080;
  cursor: pointer;
}

/* #nav:hover #navcontent {
  display: block;
} */

#navcontent {
  /* position: absolute; */
  display: none;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.section {
  padding: 1% 190px 0% 8%;
  margin-right: 6.5%;
}

#nav a {
  padding: 3% 0%;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

#nav a:hover {
  background-color: #808080;
}

#links {
  position: absolute;
  width: 100%;
  top: 100%;
}

#linkbutton {
  text-align: center;
  display: none;
}

#linkbutton img {
  margin-top: 2.5%;
  width: 24px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
  h1 {
    padding-right: 0%;
  }
  .section {
    padding-right: 8%;
    margin-right: 0%;
  }
}

@media only screen and (max-device-width: 1000px) {
  #sidebar {
    /* display: none; */
    width: 40%;
    height: auto;
    left: 30%;
    /* bottom: 0; */
  }
  #border {
    display: none;
  }
  #nav {
    width: 100%;
  }
  #linkbutton {
    position: relative;
    display: block;
  }
  #links {
    /* position: relative; */
  }
  #navbutton {
    display: none;
  }
  h1 {
    padding-right: 0%;
    margin-top: 8%;
  }
  .section {
    padding-right: 8%;
    margin-right: 0%;
  }
  body {
    font-size: 24px;
  }
}

@media only screen and (max-device-width: 750px) {
  body {
    font-size: 32px;
  }
  #linkbutton img {
    width: 32px;
  }
}

@media only screen and (max-device-width: 500px) {
  body {
    font-size: 40px;
  }
  #linkbutton img {
    width: 40px;
  }
}